.card {
    .card-body {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .card-title {
            color: #FFFFFF;
            text-decoration: none;
        }

        .action {
            display: flex;
            align-items: center;

            a {
                display: block;
                margin-right: 20px;

                i {
                    color: #FFFFFF;
                }
                
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    } 
} 

.none {
    display: none;
}

.background {
    background-image: url("../images/img_top.jpeg");
    background-repeat: no-repeat;
    width: 100%;
    min-height: 600px;
    background-size: cover;
    position: absolute;
    z-index: -1;
    left: 0;
}

.mt-300 {
    margin-top: 300px;
}

.bg-dark {
    --bs-bg-opacity :.7;
}