.info-user {
    img {
        max-width: 40px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}

.card {
    .card-body {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .card-title {
            color: #FFFFFF;
            text-decoration: none;
        }

        .action {
            display: flex;
            align-items: center;

            a {
                display: block;
                margin-right: 20px;

                i {
                    color: #FFFFFF;
                }
                
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    } 
}

.top {
    position: relative;

    .arrow-wrap {
        position: absolute;
        top: 85%; left: 50%; /* à 50%/50% du parent référent */
        transform: translate(-50%, -50%);
        color: #FFFFFF;
    }
}

.img-top {
    position: relative;

    img {
        width: 100%;
        margin-bottom: 20px;
    }

    .title {
        position: absolute;
        background: rgba(255, 255, 255, 0.5);
        color: #000000;
        font-size: 45px;
        text-align: center;
        padding: 30px;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
    }

    .action {
        position: absolute;
        padding: 5px 15px;
        background-color: #FFFFFF;
        right: 10px;
        top: 10px;
        display: flex;

        a,p {
            color: #000000;
            cursor: pointer;
        }
    }
}



.item-list {
    overflow-x: scroll;
    white-space: nowrap;

    div {
        display: inline-block;
        margin-right: 15px;
        vertical-align: top;

        img {
            max-height: 250px;
        }

        a {
            display: block;
        }
    }
}

ul {
    padding-left: 0;
    li {
        list-style-type: none;
    }
}

.none {
    display: none;
}

.mt-300 {
    margin-top: 300px;
}

.bg-dark {
    --bs-bg-opacity :.7;
}

.alert {
    margin-bottom: 0;
}

p {
    margin-bottom: 0;
}