{% extends 'base.html.twig' %}

{% block title %}Liste des figures
{% endblock %}

{% block body %}
	<div id="myCarousel" class="carousel slide mb-4" data-bs-ride="carousel">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
		</div>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="{{ asset('build/images/img_top.jpeg') }}" class="w-100"/>
			</div>
			<div class="carousel-item">
				<img src="{{ asset('build/images/img_top-2.jpeg') }}" class="w-100"/>
			</div>
			<div class="carousel-item">
				<img src="{{ asset('build/images/img_top-3.jpeg') }}" class="w-100"/>
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Précédent</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Suivant</span>
		</button>
	</div>
	<div class="container">
		<div class="row">
			{% for article in listArticles %}
				<div class="col-12 col-md-3">
					<div class="card">
						<img src="..." class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">{{article.name}}</h5>
							<div>
								<a href="#"></a>
								<a href="#"></a>
							</div>

						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
